.centered {
  text-align: center;
  margin: 0 auto;
}

.margins-bot {
  margin-bottom: 15px;
}

.intro_text {
  color: #eee;
}

:host-context(.light) .intro_text {
  color: #111;
}

.social img.fn__svg {
  filter: brightness(0) invert(1);
}


