<div class="deebo_fn_main">
	
	<!-- Light/Dark Switcher -->
	<!-- <div class="deebo_fn_switcher_wrap">
		<label>
			<span class="light">Light</span>
				<span class="checkbox_wrap">
					<input type="checkbox" id="skin_switcher">
					<span class="slider round"></span>
				</span>
			<span class="dark">Dark</span>
		</label>
	</div> -->
	<!-- /Light/Dark Switcher -->
	
	<!-- Overlay -->
	<div class="right_bar_overlay"></div>
	<!--/ Overlay -->

	<!-- MODALBOX -->
	<div class="deebo_fn_modalbox">
		<a class="extra_closer" href="#"></a>
		<div class="box_inner">
			<a class="closer" href="#"><span></span></a>
			<div class="modal_content">

				<div class="modal_in">
					<!-- Content comes from JS -->
				</div>

				<div class="fn__nav" data-from="" data-index="">
					<a href="#" class="prev">
						<span class="text">Prev</span>
						<span class="arrow_wrapper"><span class="arrow"></span></span>
					</a>
					<a href="#" class="next">
						<span class="text">Next</span>
						<span class="arrow_wrapper"><span class="arrow"></span></span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- /MODALBOX --> 

	<!-- Overlay -->
	<div class="right_bar_overlay"></div>
	<!--/ Overlay -->

	<!-- MODALBOX -->
	<div class="deebo_fn_modalbox">
		<a class="extra_closer" href="#"></a>
		<div class="box_inner">
			<a class="closer" href="#"><span></span></a>
			<div class="modal_content">

				<div class="modal_in">
					<!-- Content comes from JS -->
				</div>

				<div class="fn__nav" data-from="" data-index="">
					<a href="#" class="prev">
						<span class="text">Prev</span>
						<span class="arrow_wrapper"><span class="arrow"></span></span>
					</a>
					<a href="#" class="next">
						<span class="text">Next</span>
						<span class="arrow_wrapper"><span class="arrow"></span></span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- /MODALBOX --> 

	<!-- Modal CV Card -->
	<div class="deebo_fn_cv">

		<!-- CV Inner -->
		<div class="deebo_fn__cv">

			<!-- CV Background -->
			<div class="cv__bg"></div>
			<div class="cv__bg2"></div>
			<!-- /CV Background -->

			<!-- CV Left Side -->
			<div class="cv__header">
				<div class="in">
					<div class="avatar centered">
						<img src="img/header/1.jpg" alt="" style="width: 600px; height: 600px;object-fit: cover; background-position: center;">
					</div>
					<h3 class="centered"><span>Nabil</span> ADAMOU</h3>
					<p class="centered margins-bot">I’m available for a freelance job. <a href="#contact" class="anchor">Hire me</a></p>
					
					<ul class="social centered">
            <li>
							<a href="#" target="_blank" title="linkedin.com">
								<img class="fn__svg" src="svg/linkedin-logo.svg" alt="linkedin.com" />
							</a>
						</li>
						<li>
							<a href="#" target="_blank" title="github.com">
								<img class="fn__svg" src="svg/github.svg" alt="github.com" />
							</a>
						</li>
						<li>
							<a href="#" target="_blank" title="facebook.com">
								<img class="fn__svg" src="svg/facebook-logo.svg" alt="facebook.com" />
							</a>
						</li>
						<li>
							<a href="#" target="_blank" title="tiktok.com">
								<img class="fn__svg" src="svg/tiktok.svg" alt="tiktok.com" />
							</a>
						</li>
					</ul>
				</div>
			</div>
			<!-- /CV Left Side -->

			<!-- /CV Content Side -->
			<div class="cv__content">
				
				

				<!-- CV: Biography Section -->
				<section id="cv_biography">
					<div class="section_title">
						<h3>Biography</h3>
					</div>
					<p>I'm a Freelancer Front-end Developer with over 12 years of experience. I'm from San Francisco. I code and create web elements for amazing people around the world. I like work with new people. New people are new experiences.</p>
					<div class="fn_cs_info_items">
						<ul>
							<li><p>Name: <span>Nabil Adamou</span></p></li>
							<li><p>Birthday: <span>June 20, 2005</span></p></li>
							<li><p>Languages: <span>French, English</span></p></li>
							<li><p>Age: <span>20 Years</span></p></li>
							<li><p>Nationality: <span>Togolese</span></p></li>
							<li><p>Adress: <span>Lome, Togo</span></p></li>
							<li><p>Phone: <span><a href="tel:+22890991191">(+228) 90 99 11 91</a></span></p></li>
							<li><p>Email: <span><a href="mailto:nabil.wizarddev@gmail.com">nabil.wizarddev&#64;gmail.com</a></span></p></li>
						</ul>
					</div>
				</section>
				<!-- /CV: Biography Section -->


				<!-- CV: Education Section -->
				<section id="cv_education">
					<div class="section_title">
						<h3>Education</h3>
					</div>
					<div class="fn_cs_boxed_list">
						<ul>
							<li>
                <div class="item">
                  <div class="item_top">
                    <h5>iPNet Institute Of Technology</h5>
                    <span>( 2022 — 2025 )</span>
                  </div>
                  <h3>Bachelor in Software Engineering</h3>
                  <p>Software development, Distributed systems, Project management, System programming and implementation of several
                    practical projects integrating modern technologies.</p>
                </div>
              </li>
              <li>
                <div class="item">
                  <div class="item_top">
                    <h5>El-Nour Kara High School</h5>
                    <span>( 2022 )</span>
                  </div>
                  <h3>Baccalaureate</h3>
                  <p>I obtained my Baccalaureate there in 2022 with honors (grade: Good)</p>
                </div>
              </li>
              
						</ul>
					</div>
				</section>
				<!-- /CV: Education Section -->


				<!-- CV: stack Section -->
				<section id="clients" class="section_clients">
					<div class="section_title">
						<h3>My stack</h3>
					</div>
					<div class="clients_wrapper">
						<ul>
							<li>
								<a href="https://tailwindcss.com/">
									<img src="img/clients/tailwindcss-ar21.svg" alt="tailwindcss" />
								</a>
							</li>
							<li>
								<a href="https://www.figma.com/">
									<img src="img/clients/figma-ar21~bgwhite.svg" alt="figma" />
								</a>
							</li>
							<li>
								<a href="https://vuejs.org/">
									<img src="img/clients/vuejs-ar21~bgwhite.svg" alt="vuejs" />
								</a>
							</li>
							<li>
								<a href="https://angular.io/">
									<img src="img/clients/angular-ar21.svg" alt="angular" />
								</a>
							</li>
							<li>
								<a href="https://flutter.dev/">
									<img src="img/clients/flutterio-ar21.svg" alt="flutter" />
								</a>
							</li>
							<li>
								<a href="https://symfony.com/">
									<img src="img/clients/symfony-ar21~bgwhite.svg" alt="symfony" />
								</a>
							</li>
							<li>
								<a href="https://www.djangoproject.com/">
									<img src="img/clients/djangoproject-ar21.svg" alt="django" />
									
								</a>
							</li>
							<li>
								<a href="https://spring.io/">
									<img src="img/clients/springio-ar21.svg" alt="spring Boot" /> 
								</a>
							</li>
						</ul>
					</div>
				</section>
				<!-- /CV: stack Section -->

				
				<!-- CV: Portfolio Section -->
				<section id="tips" class="section_tips">
					<div class="section_title">
						<h3>Latest Projects</h3>
					</div>

					<div class="tips_content">
						<ul class="modal_items" data-from="blog" data-count="5">
							<li>
								<div class="item modal_item" data-index="1">
									<div class="item_left">
										<p>2025</p>
										<h5><a href="#">urban infrastructures problemes reporting app</a></h5>
										<a href="#" class="read_more">Read More</a>
										<div class="fn__hidden">
											<p class="fn__cat">2025</p>
											<h3 class="fn__title">urban infrastructures problemes reporting app</h3>
											<div class="img_holder">
												<img src="img/thumb/square.jpg" alt="">
												<div class="abs_img" data-bg-img="img/portfolio/citizen-web.jpg" ></div>
											</div>
											<p class="fn__desc">Repo gitHub : <a href="http://"></a></p>
											<p class="fn__desc">Sed ornare tellus a odio bibendum, at tristique sapien malesuada. Proin sagittis maximus accumsan. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque gravida quam sit amet elit varius tempor. Pellentesque purus eros, blandit eu mollis vel, commodo eget orci.</p>
											<p class="fn__desc">Quisque dui metus, eleifend at enim ac, imperdiet sagittis dolor. Vestibulum ipsum quam, feugiat non velit sit amet, pulvinar varius nisl. Mauris tristique, ipsum sit amet lacinia congue, mauris magna tempus nibh, in mollis eros enim a tortor. Morbi enim arcu, tristique vitae mi nec, hendrerit pharetra metus. Phasellus id feugiat purus. In vel elit eu lacus ultrices feugiat. Etiam at aliquet mi. Nunc sit amet libero sit amet lectus pellentesque sagittis. Curabitur blandit ante quis erat dapibus viverra.</p>
											<p class="fn__desc">Sed porttitor augue erat, vitae convallis odio viverra id. In nec finibus elit. Nullam ac sodales nunc, vel sagittis elit. Ut condimentum ex ipsum, eu ornare odio aliquam eu. Ut iaculis eros quam, eu bibendum tellus convallis quis. Donec sapien risus, consequat ut magna nec, interdum porta nisl. Vivamus pulvinar hendrerit finibus.</p>
										</div>
									</div>
									<div class="item_right">
										<div class="abs_img" data-bg-img="img/portfolio/citizen-web.jpg"></div>
									</div>
								</div>
							</li>
							
							<li>
								<div class="item modal_item" data-index="2">
									<div class="item_left">
										<p>September 15, 2021</p>
										<h5><a href="#">Principle Tutorial &amp; Onboarding Flow Animation</a></h5>
										<a href="#" class="read_more">Read More</a>
										<div class="fn__hidden">
											<p class="fn__cat">September 15, 2021</p>
											<h3 class="fn__title">Principle Tutorial &amp; Onboarding Flow Animation</h3>
											<div class="img_holder">
												<img src="img/thumb/square.jpg" alt="">
												<div class="abs_img" data-bg-img="img/blog/2.jpg"></div>
											</div>
											<p class="fn__desc">Sed ornare tellus a odio bibendum, at tristique sapien malesuada. Proin sagittis maximus accumsan. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque gravida quam sit amet elit varius tempor. Pellentesque purus eros, blandit eu mollis vel, commodo eget orci.</p>
											<p class="fn__desc">Quisque dui metus, eleifend at enim ac, imperdiet sagittis dolor. Vestibulum ipsum quam, feugiat non velit sit amet, pulvinar varius nisl. Mauris tristique, ipsum sit amet lacinia congue, mauris magna tempus nibh, in mollis eros enim a tortor. Morbi enim arcu, tristique vitae mi nec, hendrerit pharetra metus. Phasellus id feugiat purus. In vel elit eu lacus ultrices feugiat. Etiam at aliquet mi. Nunc sit amet libero sit amet lectus pellentesque sagittis. Curabitur blandit ante quis erat dapibus viverra.</p>
											<p class="fn__desc">Sed porttitor augue erat, vitae convallis odio viverra id. In nec finibus elit. Nullam ac sodales nunc, vel sagittis elit. Ut condimentum ex ipsum, eu ornare odio aliquam eu. Ut iaculis eros quam, eu bibendum tellus convallis quis. Donec sapien risus, consequat ut magna nec, interdum porta nisl. Vivamus pulvinar hendrerit finibus.</p>
										</div>
									</div>
									<div class="item_right">
										<div class="abs_img" data-bg-img="img/blog/2.jpg"></div>
									</div>
								</div>
							</li>
							<li>
								<div class="item modal_item" data-index="3">
									<div class="item_left">
										<p>September 03, 2021</p>
										<h5><a href="#">Ordering Ballooon Bouquets UI Design and Animation</a></h5>
										<a href="#" class="read_more">Read More</a>
										<div class="fn__hidden">
											<p class="fn__cat">September 03, 2021</p>
											<h3 class="fn__title">Ordering Ballooon Bouquets UI Design and Animation</h3>
											<div class="img_holder">
												<img src="img/thumb/square.jpg" alt="">
												<div class="abs_img" data-bg-img="img/blog/3.jpg"></div>
											</div>
											<p class="fn__desc">Sed ornare tellus a odio bibendum, at tristique sapien malesuada. Proin sagittis maximus accumsan. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque gravida quam sit amet elit varius tempor. Pellentesque purus eros, blandit eu mollis vel, commodo eget orci.</p>
											<p class="fn__desc">Quisque dui metus, eleifend at enim ac, imperdiet sagittis dolor. Vestibulum ipsum quam, feugiat non velit sit amet, pulvinar varius nisl. Mauris tristique, ipsum sit amet lacinia congue, mauris magna tempus nibh, in mollis eros enim a tortor. Morbi enim arcu, tristique vitae mi nec, hendrerit pharetra metus. Phasellus id feugiat purus. In vel elit eu lacus ultrices feugiat. Etiam at aliquet mi. Nunc sit amet libero sit amet lectus pellentesque sagittis. Curabitur blandit ante quis erat dapibus viverra.</p>
											<p class="fn__desc">Sed porttitor augue erat, vitae convallis odio viverra id. In nec finibus elit. Nullam ac sodales nunc, vel sagittis elit. Ut condimentum ex ipsum, eu ornare odio aliquam eu. Ut iaculis eros quam, eu bibendum tellus convallis quis. Donec sapien risus, consequat ut magna nec, interdum porta nisl. Vivamus pulvinar hendrerit finibus.</p>
										</div>
									</div>
									<div class="item_right">
										<div class="abs_img" data-bg-img="img/blog/3.jpg"></div>
									</div>
								</div>
							</li>
							<li class="be_animated">
								<div class="item modal_item" data-index="4">
									<div class="item_left">
										<p>August 20, 2021</p>
										<h5><a href="#">How to Prepare Your Design Portfolio</a></h5>
										<a href="#" class="read_more">Read More</a>
										<div class="fn__hidden">
											<p class="fn__cat">August 20, 2021</p>
											<h3 class="fn__title">How to Prepare Your Design Portfolio</h3>
											<div class="img_holder">
												<img src="img/thumb/square.jpg" alt="">
												<div class="abs_img" data-bg-img="img/blog/4.jpg"></div>
											</div>
											<p class="fn__desc">Sed ornare tellus a odio bibendum, at tristique sapien malesuada. Proin sagittis maximus accumsan. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque gravida quam sit amet elit varius tempor. Pellentesque purus eros, blandit eu mollis vel, commodo eget orci.</p>
											<p class="fn__desc">Quisque dui metus, eleifend at enim ac, imperdiet sagittis dolor. Vestibulum ipsum quam, feugiat non velit sit amet, pulvinar varius nisl. Mauris tristique, ipsum sit amet lacinia congue, mauris magna tempus nibh, in mollis eros enim a tortor. Morbi enim arcu, tristique vitae mi nec, hendrerit pharetra metus. Phasellus id feugiat purus. In vel elit eu lacus ultrices feugiat. Etiam at aliquet mi. Nunc sit amet libero sit amet lectus pellentesque sagittis. Curabitur blandit ante quis erat dapibus viverra.</p>
											<p class="fn__desc">Sed porttitor augue erat, vitae convallis odio viverra id. In nec finibus elit. Nullam ac sodales nunc, vel sagittis elit. Ut condimentum ex ipsum, eu ornare odio aliquam eu. Ut iaculis eros quam, eu bibendum tellus convallis quis. Donec sapien risus, consequat ut magna nec, interdum porta nisl. Vivamus pulvinar hendrerit finibus.</p>
										</div>
									</div>
									<div class="item_right">
										<div class="abs_img" data-bg-img="img/blog/4.jpg"></div>
									</div>
								</div>
							</li>
							<li class="be_animated">
								<div class="item modal_item" data-index="5">
									<div class="item_left">
										<p>July 11, 2021</p>
										<h5><a href="#">Lottie Animation &amp; After Effects Tutorial</a></h5>
										<a href="#" class="read_more">Read More</a>
										<div class="fn__hidden">
											<p class="fn__cat">July 11, 2021</p>
											<h3 class="fn__title">Lottie Animation &amp; After Effects Tutorial</h3>
											<div class="img_holder">
												<img src="img/thumb/square.jpg" alt="">
												<div class="abs_img" data-bg-img="img/blog/5.jpg"></div>
											</div>
											<p class="fn__desc">Sed ornare tellus a odio bibendum, at tristique sapien malesuada. Proin sagittis maximus accumsan. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque gravida quam sit amet elit varius tempor. Pellentesque purus eros, blandit eu mollis vel, commodo eget orci.</p>
											<p class="fn__desc">Quisque dui metus, eleifend at enim ac, imperdiet sagittis dolor. Vestibulum ipsum quam, feugiat non velit sit amet, pulvinar varius nisl. Mauris tristique, ipsum sit amet lacinia congue, mauris magna tempus nibh, in mollis eros enim a tortor. Morbi enim arcu, tristique vitae mi nec, hendrerit pharetra metus. Phasellus id feugiat purus. In vel elit eu lacus ultrices feugiat. Etiam at aliquet mi. Nunc sit amet libero sit amet lectus pellentesque sagittis. Curabitur blandit ante quis erat dapibus viverra.</p>
											<p class="fn__desc">Sed porttitor augue erat, vitae convallis odio viverra id. In nec finibus elit. Nullam ac sodales nunc, vel sagittis elit. Ut condimentum ex ipsum, eu ornare odio aliquam eu. Ut iaculis eros quam, eu bibendum tellus convallis quis. Donec sapien risus, consequat ut magna nec, interdum porta nisl. Vivamus pulvinar hendrerit finibus.</p>
										</div>
									</div>
									<div class="item_right">
										<div class="abs_img" data-bg-img="img/blog/5.jpg"></div>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div class="load_more">
						<a href="#" data-done="Done" data-no="No more articles found">
							<span class="text">Load More Articles</span>
							<span class="fn__pulse">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</a>
					</div>
				</section>
				<!-- /CV: Portfolio Section -->
				
				
				<!-- CV: Contact Section -->
				<section id="contact" class="section_contact">
					<div class="section_title">
						<h3>Contact Me</h3>
					</div>
					<form class="contact_form" action="https://frenify.com/" method="post" autocomplete="off" data-email="frenifyteam@gmail.com">

						<!--
							Don't remove below code in avoid to work contact form properly.
							You can chance dat-success value with your one. It will be used when user will try to contact via contact form and will get success message.
						-->
						<div class="success" data-success="Your message has been received, we will contact you soon."></div>
						<div class="empty_notice"><span>Please Fill Required Fields!</span></div>
						<!-- -->

						<div class="items_wrap">
							<div class="items">
								<div class="item half">
									<div class="input_wrapper">
										<input id="name" type="text" placeholder="Name *" />
									</div>
								</div>
								<div class="item half">
									<div class="input_wrapper">
										<input id="email" type="email" placeholder="Email *" />
									</div>
								</div>
								<div class="item">
									<div class="input_wrapper">
										<input id="phone" type="text" placeholder="Phone" />
									</div>
								</div>
								<div class="item">
									<div class="input_wrapper">
										<textarea id="message" placeholder="Message"></textarea>
									</div>
								</div>
								<div class="item">
									<a id="send_message" href="#">Send Message</a>
								</div>
							</div>
						</div>
					</form>
				</section>
				<!-- CV: Contact Section -->


			</div>
			<!-- /CV Content Side -->

		</div>
		<!-- CV Inner -->
	</div>
	<!-- /Modal CV Card -->

</div>